//Breakpoints
$breakpoints: ('extra-small': 480px, 'small': 768px, 'medium': 992px, 'large': 1200px, 'extra-large': 1440px);


$ff_1 : 'Neue Haas Grotesk Display Pro', sans-serif;
$ff_2 : "Miller Text", sans-serif;
$ff_3 : 'Neue Haas Grotesk Text Pro', sans-serif;
$ff_montserrat : "Montserrat", sans-serif;

$color_black: #000000;
$color_white: #ffffff;
$color_neutral1: #F8F5EC;
$color_neutral2: #EFE4D1;
$color_accent1: #9C41F7;
$color_accent2: #C26140;
$color_accent3: #06BA63;
$color_accent4: #FBD038;


