@import "./Landing/Landing";
@import "./About/About";
@import "./ProjectList/ProjectList";
@import "./Contact/Contact";



.Home {
    width: 100vw;
    section {
        position: relative;
        width: 100%;
        display: block;
    }

    @include media("<=small") {
        overflow: hidden;
    }
}

