@import "./Landing/Landing";
@import "./About/About";
@import "./ProjectList/ProjectList";
@import "./Contact/Contact";



.Home {
    section {
        position: relative;
        width: 100%;
        display: block;
    }
}

