@font-face {
    font-family: 'Bricolage Grotesque Condensed 10pt';
    src: url('/font/BricolageGrotesque10ptCondensed-ExtraBold.ttf') format("truetype");
    src: url('/font/BricolageGrotesque10ptCondensed-ExtraBold.woff2') format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque Condensed 10pt';
    src: url('/font/BricolageGrotesque10ptCondensed-Bold.ttf') format("truetype");
    src: url('/font/BricolageGrotesque10ptCondensed-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage Grotesque Condensed 10pt';
    src: url('/font/BricolageGrotesque10ptCondensed-ExtraLight.ttf') format("truetype");
    src: url('/font/BricolageGrotesque10ptCondensed-ExtraLight.woff2') format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-ExtraLight.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-Light.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-Regular.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-Medium.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-SemiBold.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-Bold.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/font/BricolageGrotesque-ExtraBold.ttf') format('truetype');
    src: url('/font/BricolageGrotesque-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
