@import "./components/MenuSection";

.Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(239, 228, 209, 0.80) 0%, rgba(239, 228, 209, 0.80) 100%);
    backdrop-filter: blur(12px);
    .swiper {
        height: 100%;
        &-wrapper {
            transition-timing-function : linear;
            .swiper-slide {
                height: 100%;
                width: fit-content;
            }
        }
    }
    &-close {
        position: absolute;
        top: 48px;
        right: 48px;
        width: 36px;
        height: 36px;
    }
}