.ProjectListItem {
  padding: 32px 0 28px;
  display: grid;
  justify-items: center;
  color: $color_black;
  text-decoration: unset;
  position: relative;
  width: 100%;
  transition: padding 600ms ease, color 300ms ease, background-color 600ms ease;

  &:hover {
    padding: 40px 0;
    background-color: $color_accent1;
    color: $color_white;

    .ProjectListItem {
      &-header, &-subtitle {
        opacity: 1;
      }

      &-title {
        &.Before, &.After {
          &:before {
            opacity: 1;
            content: ">";
            display: flex;
            align-items: center;
          }

          &:after {
            opacity: 1;
            content: "<";
            display: flex;
            align-items: center;

          }
        }
      }
    }
  }

  &-header, &-subtitle {
    pointer-events: none;
    opacity: 0;
    color: $color_white;
    @include font($ff_1, 20px, 400, normal);
    letter-spacing: -0.8px;
    transition: opacity 600ms ease 200ms;
  }

  &-title {
    pointer-events: none;

    margin: -16px 0 -12px;
    @include font($ff_1_C_10pt, 132px, 800, 146px);
    letter-spacing: -5.28px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    &.Before, &.After {

      pointer-events: none;
      &:before {
        width: min-content;
        color: $color_white;
        transition: opacity 600ms ease;
        opacity: 0;
        content: ">";
        display: flex;
        align-items: center;
      }

      &:after {
        width: min-content;
        color: $color_white;
        transition: opacity 600ms ease;
        opacity: 0;
        content: "<";
        display: flex;
        align-items: center;

      }
    }
  }

  &-subtitle {
    pointer-events: none;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 32px;

    &--tag {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 8px;
      align-items: center;
      @include font($ff_1, 20px, 400, normal);

      &:before {
        width: 20px;
        height: 1px;
        background-color: $color_white;
      }
    }
  }

  &-img {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    max-width: 400px;
    height: auto;
    opacity: 0;
  }
  .hovered & {
    &-img {
      opacity: 1;

    }
  }
}