.About {
  position: relative;
  background-color: $color_neutral2;
  overflow: hidden;

  &:before {
    position: absolute;
    background: linear-gradient(180deg, $color_neutral2 0%, rgba($color_neutral2, 0.00) 100%);
    top: 0;
    width: 100%;
    height: 90vh;
    z-index: 1;
  }

  &:after {
    position: absolute;
    background: linear-gradient(0deg, $color_neutral2 0%, rgba($color_neutral2, 0.00) 100%);
    bottom: 0;
    width: 100%;
    height: 90vh;
  }

  .BackgroundLine {
    height: 100%;

    @include media("<=small") {
      height: 125%;
      width: 125%;
      transform: translate(-10%, -10%);

    }
  }

  &-container {
    width: 100%;
    height: 200vh;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    position: relative;

    &--item {
      max-width: 1060px;
      height: 100vh;
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      justify-content: center;
      justify-items: center;
      align-content: center;

      &:first-child {
        z-index: 10;
      }

      &:last-child {
        position: absolute;
        top: 100vh;
        text-decoration: unset;

      }

      &---content {
        width: fit-content;
        z-index: 1;
        text-decoration: unset;
        color: $color_black;
        @include font($ff_1_C_10pt, 188px, 800, 146px);

        letter-spacing: -7.52px;
        @include media("<=medium") {
          @include font($ff_1_C_10pt, 80px, 800, 68px);
          letter-spacing: -3.2px;
          margin: 0 200px;

        }

        @include media("<=small") {
          @include font($ff_1_C_10pt, 48px, 800, 40px);
          letter-spacing: -1.6px;
        }

         .__AboutSplitText-line {
          overflow-y: hidden;
          overflow-x: visible;
          padding: 0;
          letter-spacing: -7px;
           margin: -32px 0;
           @include media(">1980px") {
             margin: -36px 0;
           }
           @include media("<=small") {
             margin: -4px 0;

           }


        }
        .__AboutSplitText-word {
          padding: 0 10px;
          transform: translateY(110%);
          @include font($ff_1_C_10pt, 164px, 800, 164px);
          @include media(">1980px") {
            @include font($ff_1_C_10pt, 188px, 800, 188px);
          }
          @include media("<=medium") {
            @include font($ff_1_C_10pt, 80px, 800, normal);
            letter-spacing: -3.2px;
            padding: 0;

          }
          @include media("<=small") {
            padding-right:1px;
            letter-spacing: -1.6px;
            @include font($ff_1_C_10pt, 48px, 800, 48px);
          }
        }
        &.Before, &.After {
          &:before {
            content: ">";
          }

          &:after {
            content: "<";

          }
        }

        b, strong {
          padding: 0 0.15em;
          color: $color_accent3;
        }
      }

      &---cursor {
        pointer-events: none;
        z-index: 10;
        position: absolute;
        transform-origin: center center;
        width: 150px;
        height: 150px;
        top: 80%;
        left: 90%;
        transition: width 600ms cubic-bezier(0.5, 0, 0.6, 1), height 600ms cubic-bezier(0.5, 0, 0.6, 1);
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);

        &-svg {
          position: absolute;

          & > * {
            fill: $color_accent3;
          }

          &:first-child {
            width: 30%;
            height: 30%;
          }
        }
      }
    }
  }
}