.ContactMasking {
  height: 100%;
  width: 100%;

  &-frontground, &-cursor {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &-frontground {
    z-index: 1;
    &--content {
      height: 100%;
      width: 100%;
      @include font($ff_1, 188px, 800, 146px);
      letter-spacing: -7.52px;

    }
  }

  &-cursor {
    &-svg {

    }
  }
}