.ContactMaskingBackground {
  pointer-events: none;

  transition: opacity 300ms ease 1s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color_black_20;
  mix-blend-mode: multiply;

  &-texture {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../../../../../public/maskBackgroundTexture.png');
    mix-blend-mode: multiply;
  }

  &-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .BackgroundLine {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.06;
      width: 125%;
      height: 125%;
    }

    &--layout {
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      align-content: center;

      &-svg {
        width: 66%;

        &:first-child {
          margin: 0 auto 0 46px;
        }

        &:last-child {
          margin: 0 46px 0 auto;
        }

        path {
          fill: $color_neutral1;
          opacity: 0.06;
        }
      }
    }
  }

  &-content {
    &--title {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      color: $color_accent4;
      @include font($ff_1, 188px, 800, 146px);
      letter-spacing: -7.52px;
    }

    &--bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      color: $color_neutral1;
      opacity: 0;
      transition: opacity 300ms ease-out 1s;

      &.__clicked {
        opacity: 1;
      }

      &---title {
        width: 100%;
        @include font($ff_1, 132px, 800, 146px);
        letter-spacing: -5.28px;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1em;

        .swiper {
          padding: 0 46px;
          width: max-content;

          &-wrapper {
            transition-timing-function: linear;
            width: max-content;

            .swiper-slide {
              width: fit-content;

            }

            h4 {
              width: fit-content;
            }
          }
        }
      }

      &-grid {
        .GridFullWidth-row {
          &--item {
            &---content {
              &:first-child {
                text-transform: uppercase;
                @include font($ff_1_C_10pt, 24px, 200, normal);

              }

              &:last-child {
                text-transform: uppercase;
                @include font($ff_1_C_10pt, 24px, 700, normal);

              }
            }
          }
        }
      }
    }
  }
}