.ContactMaskingBackground {
  pointer-events: none;

  transition: opacity 300ms ease 1s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color_black_20;
  mix-blend-mode: multiply;

  &-texture {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../../../../../public/maskBackgroundTexture.webp');
    mix-blend-mode: multiply;
  }

  &-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .BackgroundLine {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.06;
      width: 125%;
      height: 125%;
    }

    &--layout {
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      align-content: center;

      @include media("<=medium") {
        grid-row-gap: 33%;

      }

      &-svg {
        width: 66%;
        @include media("<=medium") {
          width: 125%;

        }

        &:first-child {
          margin: 0 auto 0 46px;

          @include media("<=medium") {
            margin: 0;
            transform: translateX(-25%) translateY(24px);

          }
        }

        &:last-child {
          margin: 0 46px 0 auto;
          @include media("<=medium") {
            margin: 0;
            transform: translateX(5%);
          }
        }

        path {
          fill: $color_neutral1;
          opacity: 0.06;
        }
      }
    }
  }

  &-content {

    &--title {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      color: $color_accent4;
      text-align: center;
      @include font($ff_1_C_10pt, 148px, 800, 124px);
      letter-spacing: -5px;

      @include media(">ultra-large") {
        @include font($ff_1_C_10pt, 188px, 800, 146px);
        letter-spacing: -7.52px;

      }
      @include media("<=medium") {
        @include font($ff_1, 80px, 800, 74px);
        letter-spacing: -3.2px;
      }
      @include media("<=small") {
        @include font($ff_1_C_10pt, 56px, 800, 92.5%);
        letter-spacing: -2.4px;

      }
    }

    &--bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      color: $color_neutral1;
      opacity: 0;
      transition: opacity 300ms ease-out 1s;
      pointer-events: none;
      cursor: default;

      &.__clicked {
        opacity: 1;
      }
      .BackgroundFull & {
        pointer-events: all;
      }
      &---title {
        width: 100%;
        @include font($ff_1, 132px, 800, 146px);
        letter-spacing: -5.28px;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1em;
        @include media("<=medium") {
          text-align: center;
          @include font($ff_1, 80px, 800, 74px);
          letter-spacing: -3.2px;
        }
        @include media("<=small") {
          @include font($ff_1_C_10pt, 56px, 800, 92.5%);
          letter-spacing: -2.4px;

        }

        .swiper {
          padding: 0 46px;
          width: max-content;

          &-wrapper {
            transition-timing-function: linear;
            width: max-content;

            .swiper-slide {
              width: fit-content;

            }

            h4 {
              width: fit-content;
              &:before {
                content: ">";
              }

              &:after {
                content: "<";
              }
            }
          }
        }
      }

      &-grid {
        padding: 0 32px;
        @include media("<=medium") {
          padding: 0 16px;

        }

        .GridFullWidth-row {
          &--item {
            display: flex;
            flex-direction: column;

            width: 25%;

            &:first-child, &:last-child {
              width: 100%;
            }

            &:last-child {

              text-align: end;
              align-items: flex-end;
            }

            &---content {
              width: fit-content;
              color: $color_white;
              text-decoration: unset;

              &:first-child {
                text-transform: uppercase;
                @include font($ff_1_C_10pt, 24px, 200, normal);
                @include media("<=medium") {
                  @include font($ff_1_C_10pt, 14px, 200, normal);

                }

              }

              &:last-child {
                text-transform: uppercase;
                @include font($ff_1_C_10pt, 24px, 700, normal);

                @include media("<=medium") {
                  @include font($ff_1_C_10pt, 14px, 700, normal);

                }
              }
            }
          }
        }
      }
    }
  }
}