.Projects {
  width: 100%;
  .BackgroundLine {
    z-index: -10;
  }
  &-landing {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_neutral1;
    //z-index: 110;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      background: linear-gradient(0deg, #EFE4D1 0%, rgba(239, 228, 209, 0.00) 100%);
      width: 100%;
      height: 50vh;
      z-index: 1;
    }

    &--title {
      color: $color_black;
      @include font($ff_1_C_10pt, 188px, 800, 146px);
      letter-spacing: -7.52px;
      @include media("<=medium") {
        @include font($ff_1_C_10pt, 80px, 800, 68px);
        letter-spacing: -4px;
      }
        @include media("<=small") {
          letter-spacing: -2.6px;

          @include font($ff_1_C_10pt, 64px, 800, 56px);

          grid-column-gap: .2em;
      }


      &:before {
        content: ">";
      }

      &:after {
        content: "<";
      }
    }
  }
}

@import "./projectSingle/ProjectSingle";