.Contact {
    height: 100vh;
    background-color: $color_neutral1;
    overflow: hidden;
    &-container {
        height: 100%;
        width: 100%;
        position: relative;
    }
}
@import "./components/ContactMasking";
@import "./components/ContactMaskingBackground";